!ofAddons.h
!.project
!ofx3DModelLoader
!ofxAccelerometer
!ofxDirList
!ofxiPhone
!ofxMultiTouch
!ofxNetwork
!ofxOpenCv
!ofxOsc
!ofxThread
!ofxVectorGraphics
!ofxVectorMath
!ofxXmlSettings
!ofxAndroid
ofxAndroid/ofAndroidLib/bin
ofxAndroid/ofAndroidLib/gen
!ofxAssimpModelLoader
!ofxGui
!ofxSvg


# It's my private repo and just can be changed by myself.
# So do not ignore the following folders.
!ofxKinectNui

# Ignore all libs in ofxOpenCv
ofxOpenCv/libs/opencv/dll/*

# don't ignore the .gitignore file
!.gitignore
