# devApps is the only official directory
!devApps/

# ignore bin folders' contents, except data folder therein
/devApps/*/bin/*
!/devApps/*/bin/data/

/devApps/*/.cproject
/devApps/*/.project
/devApps/*/.settings/

!_Examples_Moved.txt

# don't ignore the .gitignore file
!.gitignore

# ignore bin folders' contents, except data folder therein
# my own projects folder
!maczli/

/maczli/*/bin/*
!/maczli/*/bin/data/

/maczli/*/.cproject
/maczli/*/.project
/maczli/*/.settings/
/maczli/*.pbxproj
/maczli/*.xcscheme
