# ignore bin folders' contents, except data folder therein
# devApps is the only official directory
!devApps/

# ignore bin folders' contents, except data folder therein
/devApps/*/bin/*
!/devApps/*/bin/data/

/devApps/*/.cproject
/devApps/*/.project
/devApps/*/.settings/

!_Examples_Moved.txt

# don't ignore the .gitignore file
!.gitignore

# ignore backup file
*.rar

# ignore bin folders' contents, except data folder therein
!/OfxkinectNUI/

/OfxKinectNUI/*/bin/*
!/OfxKinectNUI/*/bin/data/

/OfxKinectNUI/*/obj/
/OfxKinectNUI/*/ipch/

/OfxKinectNUI/*/.cproject
/OfxKinectNUI/*/.project
/OfxKinectNUI/*/.settubgs/
